body{
  padding: 20px;
  background-color: #B9EF8B;
  color: White;
  width: 100%;
  height: 100%;
  font-family: Bitter;
}

.header{
  padding: 5px;
  height: 60px;
  width: 100%;
  background-color: #375E97;
  font-size: xx-large;
  text-align: center;
}

.opcja{
  cursor: pointer;
  text-align: center;
  font-size: large;
  padding: 10px;
  margin: 1%;
  width: 48%;
  display: inline-block;
  background-color: #375E97;
  border: 8px solid #375E97;
}
.opcja:hover{
  background-color: #4675BA;
}

.lewy{
  float: left;
}

.prawy {
  float: right;
}
